<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>TP3-WEB</title>
    <style>
      li {
        display: inline-block; 
        margin-right: 10px;
        color: #778899;
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <ul style="padding:0;">
          <li> <p> <a href="{{ url_for('home_form') }}"> Accueil! </a> </p> </li>
          <li> <p> <a href="{{ url_for('alias_form') }}"> Alias </a> </p> </li>
          <li> <p> <a href="{{ url_for('formulaire_nat_form') }}"> formulaire nat </a> </p> </li>
          <li> <p> <a href="{{ url_for('regle_nat_form') }}"> regle nat </a> </p> </li>
        </ul>
      </nav>
    <h2> Formulaire NAT </h2>
    <form action="regle_nat.html" method="post">
        <div>
            <label for="srcIP">srcIP :</label>
            <input type="text" id="srcIP" name="new_srcIP">
        </div>
        <div>
                <label for="srcPort">srcPort :</label>
                <input type="number" id="srcPort" name="new_srcPort">
        </div>
        <div>
                <label for="destIP">destIP</label>
                <input type="text" id="destIP" name="new_destIP">
        </div>
        <div>
                <label for="destPort">destPort</label>
                <input type="number" id="destPort" name="new_destPort">
        </div>
        <div class="button">
                <button type="submit">Envoyer les données</button>
        </div>
    </form>

    </header>
    <footer>
        <p> Site codé par MUSSET Eliot</p> 
        <img src="{{url_for('static', filename='css.png')}}" />
        <img src="{{url_for('static', filename='html5.png')}}" />
    </footer>
  </body>
</html>