<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>TP3-WEB</title>
    <style>
      li {
        display: inline-block; 
        margin-right: 10px;
        color: #778899;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Se connecter</h1>
        <form method="post" action="{{ url_for('login') }}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <br>
        <input type="submit" value="Login">
      </form>
    </header>
    <footer>
        <p> Site codé par MUSSET Eliot</p> 
        <img src="{{url_for('static', filename='css.png')}}" />
        <img src="{{url_for('static', filename='html5.png')}}" />
    </footer>
  </body>
</html>