<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>TP3-WEB</title>
  </head>
  <body>
    <header>
      <ul class="menu">
        <ul style="padding:0;">
          <li> <p> <a href="{{ url_for('home_form') }}"> Accueil! </a> </p> </li>
          <li> <p> <a href="{{ url_for('alias_form') }}"> Alias </a> </p> </li>
          <li> <p> <a href="{{ url_for('formulaire_nat_form') }}"> formulaire nat </a> </p> </li>
          <li> <p> <a href="{{ url_for('regle_nat_form') }}" class="actif" > regle nat </a> </p> </li>
          <li> <p> <a href="{{ url_for('logout') }}"> Se déconnecter </a> </p> </li>
        </ul>
      </ul>
    <table>
        <caption> NAT </caption>
        <tr> <th>srcIP</th> <th>srcPort</th><th>destIP</th><th>dest Port</th></th></tr>
        <tr> <td>10.0.0.1 </td> <td>80</td> <td> 192.168.1.2</td><td>8080</td></tr>
        <tr> <td>10.0.0.1 </td> <td>80</td> <td> 192.168.1.2</td><td>90000</td></tr>
        <tr> <td> Nouvelles srcIP : {{variable1}} </td> <td> Nouveau srcPort :{{variable2}} <td> nouveaudestIP :{{variable3}} </td> <td> Nouveau destPort: {{variable4}} </td> </tr>

    </table>
      <hr>
    </header>
    <article>
      <header>
        <p> Site codé par MUSSET Eliot</p> 
        <img src="{{url_for('static', filename='css.png')}}" />
        <img src="{{url_for('static', filename='html5.png')}}" />
      </header>
    </article>
  </body>
</html>